<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleURLTypes</key>
        <array>
            <dict>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>kakao245c6d9d009eb8b61911baf64cc9471a</string>
                    <string>159172544578-mlv2svh221fn33n3hj6uthk7jo40840e.apps.googleusercontent.com</string>
                </array>
            </dict>
        </array>
    <key>KAKAO_APP_KEY</key>
    <string>245c6d9d009eb8b61911baf64cc9471a</string>
    <key>KAKAO_NATIVE_APP_KEY</key>
    <string>245c6d9d009eb8b61911baf64cc9471a</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>kakaokompassauth</string>
        <string>kakaolink</string>
    </array>
    <key>UIAppFonts</key>
    <array>
        <string>Pretendard-Bold.otf</string>
        <string>Pretendard-Light.otf</string>
        <string>Pretendard-Medium.otf</string>
        <string>Pretendard-Regular.otf</string>
        <string>Pretendard-SemiBold.otf</string>
    </array>
</dict>
</plist>
